bind // HTTP
{ ip localhost
  port 80
  virtualhost
  { root_path /var/www/localhost/htdocs
    host localhost
  }
}
bind // HTTPS
{ ip localhost
  port 443
  ssl
  certificate_path /etc/ssl/certs/localhost-selfsigned.pem
  private_key_path /etc/ssl/private/localhost-selfsigned.pem
  virtualhost
  { root_path /var/www/localhost/htdocs
    host localhost
  }
}
